In [ ]:
#Loops : Loop is an instruction that repeats multiple number of times depending upon the condtions fed.
#Types of Loops :
#1. while 
#2. for 
#3. Nested loops

In [ ]:
#for loops:
#range(start,stop,step)

In [ ]:
for i in range(10):
  print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
for i in range(5): #to print a statement mutiple statements
  print("Fun")

Fun
Fun
Fun
Fun
Fun

In [ ]:
print(range(5))

range(0, 5)

In [ ]:
num = 0
for i in range(0,11):
  num = num + i
print(num)

55

In [ ]:
Name = "JOSHUA"
for i in Name:
  print(i)

J
O
S
H
U
A

In [ ]:
 n = {1 :'python',2:'c',3:'C++'}

 for i in n:
   print("{} = {}".format(i,n[i]))

1 = python
2 = c
3 = C++

In [ ]:
for i in range(0,7): # to check if the number in the range are odd or even
  if i%2==0:
    print("{} is a Even number".format(i))
  else:
    print("{} is a odd number".format(i))

0 is a Even number
1 is a odd number
2 is a Even number
3 is a odd number
4 is a Even number
5 is a odd number
6 is a Even number

In [ ]:
num = int(input("Enter a number:"))
factorial =1
if num <0:
  print("enter only postive number:")
elif num==0:
  print("Factorial is 1")
else:
  for number in range(1,num+1):
    factorial = factorial * number
print(factorial)

Enter a number:4
24

In [ ]:
# # syntax
# while(expression):
#   statement()
i = 1
while i<5:
  
  print("Good day")

Good day
Good day

In [ ]:
i =1
while i<6:
  i+=1
  print("fantastic")

fantastic
fantastic
fantastic
fantastic
fantastic

In [ ]:
i = 1
while i<6:
  print("fantastic")
  j = 3
  i+=1
  while j<7:
    print("excellent")
    j +=1

fantastic
excellent

excellent

excellent

excellent

fantastic
excellent

excellent

excellent

excellent

fantastic
excellent

excellent

excellent

excellent

fantastic
excellent

excellent

excellent

excellent

fantastic
excellent

excellent

excellent

excellent

In [ ]:
i = 7
while i<6:
  print(i)
  i+=1
else:
  print("Not cool")

Not cool

In [ ]:
#to print any multiplication tables from 1- 10
n= int(input("Enter a number:"))
i =1
while i<=10:
    print("{} x {} = {}".format(n,i,i*n))
    i+=1

Enter a number:10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
num = 0
while num<=10:
  print(num)
  num+=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
num = 10
while num>=0:
  if num==0:
    print("stop")
  else:
    print(num)
  num = num - 1

10
9
8
7
6
5
4
3
2
1
stop

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(j, end=' ')
  print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
 n = {1 :'python',2:'c',3:'C++'}

 for i in n:
   print("{} = {}".format(i,n[i]))

1 = python
2 = c
3 = C++

In [ ]:
i = 0
while i <10:
  print("Hello")
  i+=1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
num = 1
while num<=10:
  print("Good day",end = " ")
  number = 0
  while number <=5:
    print("Bad day",end = " ")
    number +=1
  num +=1
  print()

Good day Bad day Bad day Bad day Bad day Bad day Bad day
Good day Bad day Bad day Bad day Bad day Bad day Bad day
Good day Bad day Bad day Bad day Bad day Bad day Bad day
Good day Bad day Bad day Bad day Bad day Bad day Bad day
Good day Bad day Bad day Bad day Bad day Bad day Bad day
Good day Bad day Bad day Bad day Bad day Bad day Bad day
Good day Bad day Bad day Bad day Bad day Bad day Bad day
Good day Bad day Bad day Bad day Bad day Bad day Bad day
Good day Bad day Bad day Bad day Bad day Bad day Bad day
Good day Bad day Bad day Bad day Bad day Bad day Bad day

In [ ]:
num = int(input("Enter a number:"))
factorial =1
if num <0:
  print("enter only postive number:")
elif num==0:
  print("Factorial is 1")
else:
  for number in range(1,num+1):
    factorial = factorial * number
print(factorial)

Enter a number:9
362880

In [ ]:
for i in range(10):
  if(i%2==0):
    print("Happy")
    continue
  if(i%9==0):
    print("Fun")
    break
  print(i)
print("END")

Happy
1
Happy
3
Happy
5
Happy
7
Happy
Fun
END

In [ ]:
a = 1
while(a<=10):
  if(a%3==0):
    print("continue")
    
  print(a)
  a +=1

1
2
continue
3
4
5
continue
6
7
8
continue
9
10

In [ ]:
for i in range(1,6):
  print("Computer", i)
  for j in range(1,6):
    print('laptop',j,end ="\t") 
  print()  # to create a new line

Computer 1
laptop 1	laptop 2	laptop 3	laptop 4	laptop 5
Computer 2
laptop 1	laptop 2	laptop 3	laptop 4	laptop 5
Computer 3
laptop 1	laptop 2	laptop 3	laptop 4	laptop 5
Computer 4
laptop 1	laptop 2	laptop 3	laptop 4	laptop 5
Computer 5
laptop 1	laptop 2	laptop 3	laptop 4	laptop 5

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print(i*j,end = '\t')
  print(' ')

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

i = 1, j =1, 1*1, j=2, 1*2,j=3, 1*3

In [ ]:

line = 0
while line<7:
  star = line + 1
  while star>0:
    print("*",end=" ")
    star = star-1
  line = line+1
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *